@font-face {
    font-family: 'carbonblock';
    src: url('carbonblock.ttf');
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: antiquewhite;
}
header {
    background-color: darkgray;
    height: 75px;
}
header table {
    position: relative;
    top: 25%;
    font-family: carbonblock;
    text-transform: uppercase;
    
}
header td{
    padding: 0 20px;
    font-size: 30px;
}
.navbutton {
    color: black;
    text-decoration: none;
}
.content {
    margin: 0 auto;
    position: relative;
    width: 80%;
}
.welcome {
    position: relative;
    height: 200px;
    background-color: dimgray;
    width: 100%;
}
.welcome p {
    position: relative;
    text-align: center;
    top: 40%;
    font-size: 50px;
    font-family: carbonblock;
    text-transform: uppercase;
}
h2 {
    position: absolute;
    top: 135px;
    left: 10px;
    width: 100%;
}
h2 span{
    background-color: white;
    opacity: 0.75;
    padding: 10px;
}
.image {
    position: relative;
    float: left;
    padding-right: 20px;
}

.testtable, .testtable td, .testtable th {
    border: 1px solid black;
}
.testtable {
    background-color: #82d1fc;
    float: right;
    margin: 15px 15px 15px 0;
}
.testtable td, .testtable th{
    text-align: center;
    background-color: #82ebfc;
}