table, th, tr {
    margin: 0;
    border: 1px solid;
    font-size: 50;
}
div {
    background-color: #edf2fb;
    margin: 0 5%;
}
td {
    text-align: center;
}
#rowStart {
    text-align: center;
    border: 1px solid;
    font-size: 50;
    width: 10%;
}
table {
    width: 90%;
}
#leftmost {
    width: 10%;
}